<div class="well sm-well">
    <div class="row">

        <h3>{{stringService.sectionTitle}}</h3>
        <hr>

        <!-- Column Headers -->
        <div class="row">
            <div class="col-xs-12">
                <h5>Enable</h5>
            </div>
        </div>

        <!-- Auto Close user edit upon save -->
        <!--
        <div class="row">
            <div class="col-xs-1">
                <input type="checkbox" data-ng-model="rs.autoCloseRoleDetail">
            </div>
            <div class="col-xs-11">
                {{stringService.autoCloseRoleDetail}}
            </div>
        </div>
        -->

        <!-- View Roles as Table -->
        <div class="row">
            <div class="col-xs-1">
                <input type="checkbox" data-ng-model="rs.viewRolesAsTable">
            </div>
            <div class="col-xs-11">
                {{stringService.viewRolesAsTable}}
            </div>
        </div>

    </div>
</div>