<div data-ng-click="setActive()">

    <!-- List Style User Display -->
    <div class="col-xs-12" data-ng-hide="active || singleUserActive">

        <div class="row record" data-ng-class="user.dfUIUnsaved ? 'record-warning' : ''">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 rounded-left record-id" data-ng-click="selectRecord()" data-ng-model="user.dfUISelected"
                 data-ng-class="user.dfUISelected ? 'record-id-selected' : ''"
                 style="text-align: center; padding-top: 8px; padding-bottom: 8px;">
                <span style="font-size: 24px; font-weight: bold;">{{user.id}}</span>
                <br>
                <span class="small">User Id</span>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-11 rounded-right"
                 data-ng-class="user.dfUISelected ? 'record-selected' : ''"
                 data-ng-click="openRecord()" style="padding-top: 5px; padding-bottom: 5px;">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <p style="margin-bottom: 3px; margin-top: 7px;"><span class="text-muted small">Email: </span></p>

                    <p><span>{{user.email}}</span></p>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 hidden-xs">
                    <p style="margin-bottom: 3px; margin-top: 7px;"><span class="text-muted small">Display Name: </span>
                    </p>

                    <p><span>{{user.display_name}}</span></p>
                </div>
                <div class="col-md-4 col-lg-3 hidden-sm hidden-xs">
                    <p style="margin-bottom: 3px; margin-top: 7px;"><span class="text-muted small">Active: </span></p>

                    <p><span>{{user.is_active}}</span></p>
                </div>
                <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                    <p style="margin-bottom: 3px; margin-top: 7px;"><span class="text-muted small">Created: </span></p>

                    <p><span>{{user.created_date}}</span></p>
                </div>
            </div>
        </div>
    </div>


    <!-- Single User Edit Display -->
    <div data-ng-show="active">

        <!-- Single User Actions -->
        <div class="well well-sm">
            <div class="btn-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-primary" data-ng-click="closeRecord()">Close</button>
                    <button type="button" class="btn btn-default btn-primary" data-ng-click="saveRecord()">Save</button>
                    <button type="button" class="btn btn-default btn-primary" data-ng-click="removeRecord()">Delete</button>
                    <button type="button" class="btn btn-default btn-primary" data-ng-click="revertRecord()">Revert</button>
                </div>
            </div>
        </div>


        <div class="well">

            <!-- Single User Header -->
            <h3>Edit User: <span class="text-muted">{{user.display_name}}</span></h3>

            <!-- Single User Edit Form -->
            <div class="row">
                <div class="col-xs-12">
                    <form name="user-edit-{{user.id}}">

                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="display-name">Display Name</label>
                                <input class="form-control" type="text" id="display-name"
                                       placeholder="Enter Display Name"
                                       data-ng-model="user.display_name">
                            </div>

                            <div class="form-group">
                                <label for="first-name">First Name</label>
                                <input class="form-control" type="text" id="first-name" placeholder="Enter First Name"
                                       data-ng-model="user.first_name">
                            </div>

                            <div class="form-group">
                                <label for="last-name">Last Name</label>
                                <input class="form-control" type="text" id="last-name" placeholder="Enter Last Name"
                                       data-ng-model="user.last_name">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" type="email" id="email" placeholder="Enter Email"
                                       data-ng-model="user.email">
                            </div>

                            <div class="form-group">
                                <label for="tel">Phone</label>
                                <input class="form-control" type="tel" id="tel" placeholder="Enter Phone Number"
                                       data-ng-model="user.phone">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" id="password" placeholder="Enter Password"
                                       data-ng-model="user.password">
                            </div>

                            <div class="form-group">
                                <label for="confirm-password">Confirm</label>
                                <input class="form-control" type="password" id="confirm-password"
                                       placeholder="Confirm Password"
                                       data-ng-model="user.confirm_password">
                            </div>
                            <div class="form-group">
                                <label for="is-sys-admin">System Administrator</label>
                                <input type="checkbox" id="is-sys-admin" data-ng-model="user.is_sys_admin">
                            </div>
                            <div class="form-group">
                                <select-role roles="roles" role-model="user.role_id"></select-role>
                            </div>
                            <div class="form-group">
                                <label for="user-active">Active</label>
                                <input type="checkbox" id="user-active" data-ng-model="user.is_active">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- End Single User Edit Form -->
        </div>
    </div>
    <!-- End Single User Edit Display -->

</div>
