<div class="module-navigation">
    <ul>
        <li data-ng-click="openUsersMaster()">
            <a>
                <i class="fa fa-users fa-fw fa-responsive-2x"></i>
                <span class="hide-elem-sm ">Users</span>
                <span class="show-elem-sm-block hide-elem-md hide-elem-lg small">Users</span>
            </a>
        </li>
        <li data-ng-click="openRolesMaster()">
            <a>
                <i class="fa fa-user fa-fw fa-responsive-2x"></i>
                <span class="hide-elem-sm ">Roles</span>
                <span class="show-elem-sm-block hide-elem-md hide-elem-lg small">Roles</span>
            </a>
        </li>
        <li data-ng-click="openAssignMaster()">
            <a>
                <i class="fa fa-cogs fa-fw fa-responsive-2x"></i>
                <span class="hide-elem-sm ">Assignment</span>
                <span class="show-elem-sm-block hide-elem-md hide-elem-lg small">Assignment</span>
            </a>
        </li>
        <li data-ng-click="openConfigMaster()">
            <a>
                <i class="fa fa-cogs fa-fw fa-responsive-2x"></i>
                <span class="hide-elem-sm ">Config</span>
                <span class="show-elem-sm-block hide-elem-md hide-elem-lg small">Config</span>
            </a>
        </li>
    </ul>
    <div class="show-elem-sm-block hide-elem-md hide-elem-lg small module-navigation-fill"></div>
</div>